@import './layout-home';

main {
  min-height: 100vh; 
}

main > section:first-child {
  margin-top: 4rem;
}

section {
  padding: 1rem;
}

  @media screen and (min-width: 1000px) {
    section {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @media screen and (min-width: 1400px) {
    section {
      padding-left: 5rem;
      padding-right: 5rem;
    }
}


@media screen and (min-width: 1000px) {
  #root {
    display: flex;
    justify-content: flex-end;
    background-color: #F7F7F2;
  }


  main {
    flex-basis: calc(100% - 100px);
  }
}


.single-post,
.content-post-list {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section-heading {
  text-align: center;
}

.content-heading {
  text-align: center;
}

.container-contact {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
  }
}